#info {
  position: absolute;
  z-index: 999999;
  top: 25px;
  right: 25px;
}

.info_row {
  display: table-row;
}

.modal_button {
  margin-bottom: 5px;
}

body.modal-open {
  margin-right: 0px
}

#minimap-canvas {
	position: absolute;
	width: 200px;
	height: 200px;
	right: 0;
	bottom: 0;
	z-index: 100;
}

#minimap-overlay {
	position: absolute;
	width: 205px;
	height: 205px;
	right: 0;
	bottom: 0;
	z-index: 200;
	border: 5px solid #EDEDED;
	-webkit-border-top-left-radius: 5px; 
	-moz-border-radius-topleft: 5px; 
	border-top-left-radius: 5px;
	cursor: pointer;
}

.poi-preview {
	float: left;
	margin-right: 10px;
}

.clear {
	clear: both;
}
